*/target/*
.idea/*
*.iml
atlassian-ide-plugin.xml
*.orig
/logs/*
*/logs/*
target/*
rebel.xml
*/bin/*
*/build/*
.settings/*
.svn/*
.project
*/.settings/*
*/.svn/*
*/.project
.classpath
*.log
/src/main/java/com/forecsys/*
/target/
/src/main/java/ru/ibs/gasu/soap/generated/*
