<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <contextName>@artifactId@ API</contextName>

    <!-- To enable jmx access to the appenders -->
    <jmxConfigurator/>

    <!-- Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] [%-5level] [%logger{36}] - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>@logs.path@/@artifactId@.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>@logs.path@/@artifactId@.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

    <!-- Loggers -->
    <logger name="org.springframework" level="@spring.log.level@"/>
    <logger name="org.hibernate" level="@hibernate.log.level@"/>

    <!--Log levels for root appender (STDOUT)-->
    <root level="@root.log.level@">
        <appender-ref ref="STDOUT_ASYNC"/>
        <appender-ref ref="FILE_ASYNC"/>
    </root>

    <appender name="SOAP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>@logs.path@/@artifactId@-soap.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>@logs.path@/@artifactId@-soap.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SOAP_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="SOAP" />
    </appender>

    <logger name="org.apache.cxf" level="@cxf.log.level@">
        <appender-ref ref="SOAP_ASYNC"/>
    </logger>

</configuration>